# USER_CONFIGURATION EXAMPLE


# Name of your study, for web ui
STUDY_NAME="ABC"

# oauth information found/configurable at dev.fitbit.com/apps
CLIENT_ID="CLIENT_ID"
CLIENT_SECRET="CLIENT SECRET"
CALLBACK_URL="http://localhost:3000/store_subject_data"

# scopes. see: https://dev.fitbit.com/build/reference/web-api/oauth2/#scope
SCOPE='activity heartrate sleep'

# how many days to query for each subject, starting yesterday and working back WINDOW_SIZE days.
WINDOW_SIZE=3
