<!doctype>
<html>
  <head>
      <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
<body>

  <header>
    <a class="fbtrack-link" href="https://github.com/foundling/fbtrack">Fbtrack</a>
  </header>
  {{{ body }}}

</body>
</html>
