<!doctype>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
<body>

    <header>
      <a class="fbtrack-link" href="https://github.com/foundling/fbtrack">Fbtrack</a>
    </header>

    <p id="error-box"></p>

    <section class="signup-window">
        <form 
            class="registration-form"
            name="subject_id_form"
            action="authorize"
            method="POST"
            id="subject_id_form">

            <div class="input-group subject-id-input">
              <label>Subject Id</label>
              <input 
                  name="subject_id"
                  id="subject_id" 
                  type="text"/> 
            </div>

            <div class="input-group authorize">
              <button 
                  class="authorize"
                  title="Let Fitbit share your data with our study"
                  type="submit" 
                  value="Authorize" />
                  Authorize
              </button>
            </div class="input-group">
        </form>

    </section>
    <script src="js/validateSubjectId.js"></script>
</body>
</html>
