<section class="auth-results">
  <div class="results-window">

    {{#if error}}
      <h1 class="error">
        An error occurred: <span class="error-msg">{{error}}</span>
      </h1>
    {{else}}
      <h1 class="success">Authorization for participant {{ participantId }} was a Success!</h1>
    {{/if}}

    <a href="/quit" class="quit">Quit</a>
    <a href="/" class="register-another-subject">Register Another Subject</a>

    <script type="text/javascript">
      document
        .querySelector('.quit')
        .addEventListener('click', function() { 
          window.location = 'http://localhost:3000/quit';
        })
      document
        .querySelector('.register-another-subject')
        .addEventListener('click', function() { 
          window.location = 'http://localhost:3000';
        })
    </script>

  </div>
</section>
