<section class="signup-window">

  <form 
    class="registration-form"
    name="subject_id_form"
    id="subject_id_form">

    <h1 class="study-name">{{ studyName }} Participant Fitbit Registration Form</h1>

    <div class="input-groups">

      <div class="input-group subject-id-input">
        <label>Subject Id</label>
        <input 
          name="subject_id"
          id="subject_id" 
          type="text"></input> 
      </div>

      <div class="input-group subject-start-date">
        <label>Start Date</label>
        <input 
          name="subject_start_date"
          type="date"
          id="subject_start_date"></input>
      </div>

      <div class="input-group authorize">
        <button 
          class="authorize"
          title="Let Fitbit share your data with our study"
          type="submit" 
          value="Authorize">
          Authorize
        </button>
      </div>

    </div>
    <p id="error-box"></p>
  </form>

</section>
<script src="js/getAuthUrl.js"></script>
<script src="js/setDefaultDate.js"></script>
