html, body {
  height: 100%;
  font-family: sans-serif;
  background: whitesmoke;
}

html, body, body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a.fbtrack-link {
  color: rgb(244, 67, 54);
}

header {
  background: white;
  height: 1.5em;
  display: inline-flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  padding: 20px;
}

section.signup-window,
section.auth-results,
section.shutdown {
  height: calc(100% - calc(1.5em + 20px));
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

form,
.results-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  background: lightgray;
}

form > h1,
.results-window > h1 {
  margin: 20px;
  padding: 10px;
  width: 100%;
  height: 1.5em;
  text-align: center;
}

form > .input-groups {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form > #error-box {
  margin: 5%;
  color: red;
  text-align: center;
}
form > #error-box.error {
  padding: 2%;
  background: white;
}

.shutdown {
}

.shutdown-notice {

  padding: 10px;
  background: white;
}

.input-group {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

input {
  padding: 5px 10px;
  font-size: 1.5em;
  width: auto;
}

label, button {
  font-size: 1.5em;
  padding: 10px;
}

button.authorize.invalid {
  background: gray;
}

button.authorize,
a.register-another-subject,
a.quit {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
}

a.register-another-subject:hover {
  color: white;
  background: rgb(3, 169, 244);
}

a.register-another-subject {
  color: black;
  background: white;
}

button.authorize:hover {
  background: rgb(3, 169, 244);
  color: white;
}

a.quit {
  background: white;
  color: red;
}
a.quit:hover {
  color: white;
  background: red;
}

button.authorize:focus {
  color: white;
  background: rgb(3, 169, 244);
}

@media(max-width: 800px) {
  .input-group {
    flex-direction: column;
  }
  .input-groups {
    display: flex;
    flex-direction: column;
  }
}
